body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul a {
	width: 200px;
	height: 40px;
	display: block;
	text-transform: uppercase;
	color: #814f09;
	text-decoration: none;
	text-indent: 50px;
	line-height: 40px;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}